<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noodp">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>codengineers.dev</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <div id="main">
        <div id="page-loader">
            <div class="spinner-container">
                <div class="css-spinner"></div>
            </div>
        </div>

        <section id="hero" class="hero hero-1">
            <div class="front-content page-enter-animated">
                <div class="container-mid">
                    <div class="cycle-wrapper">
                        <div id="cycle">
                            <div class="slide">
                                <h1>COD<span>E</span>NGINEERS<br>.dev</h1>
                            </div>
                        </div>
                    </div>
                    <p>OUR WEBSITE IS COMING SOON</p>
                </div>
            </div>
            <div class="background-content page-enter-animated">
                <div class="level-1">
                    <div class="bg-overlay"></div>
                    <div class="bg-pattern"></div>
                    <div id="canvas"><canvas class="bg-effect layer" data-depth="0.2"></canvas></div>
                </div>
                <div class="level-2">
                    <div class="bg-image layer" data-depth="0.04"></div>
                    <div class="bg-video layer" data-depth="0.04"></div>
                    <div class="bg-color layer" data-depth="0.04"></div>
                </div>
            </div>
        </section>
    </div>
    <script th:src="@{/js/action.js}"></script>
</body>
</html>